@model StackTak.Models.SwitchCreateViewModel

@{
    ViewBag.Title = "Create Device";
}

<h2>Add Device</h2>
<h3>

</h3>

@using (Html.BeginForm())
{
    <div class="create_form_radiobtn">
        <label>
            @Html.RadioButtonFor(m => m.TableType, StackTak.Models.SwitchTableType.Access, new { @id = "radioAccessBtn", @checked = true, @onclick = "toggleGatwayInputForm()" })
            Access Switch
        </label>
        <label>
            @Html.RadioButtonFor(m => m.TableType, StackTak.Models.SwitchTableType.Aggregation, new {@id= "radioAggregationBtn", @onclick= "toggleGatwayInputForm()" })
            Aggregation Switch
        </label>
    </div>
    <div class="create_input_block">
        <div class="input_block_one">
            <div class="create_forms_input">

                @Html.TextBoxFor(m => m.DeviceIPAddress , new { placeholder = "IP Address"})
                @Html.ValidationMessageFor(m => m.DeviceIPAddress)
            </div>

            <div class="create_forms_input">
          
                @Html.TextBoxFor(m => m.NetworkMask, new { placeholder = "Subnet Mask" })
                @Html.ValidationMessageFor(m => m.NetworkMask)
            </div>

            <div id="gateway_form" class="create_forms_input">

                @Html.TextBoxFor(m => m.IpGateway, new { @Value = "0" , placeholder = "IP Gataway" })
                @Html.ValidationMessageFor(m => m.IpGateway)
            </div>

            <div class="create_forms_input">

                @Html.TextBoxFor(m => m.Manufacturer, new { placeholder = "Manufacturer" })
                @Html.ValidationMessageFor(m => m.Manufacturer)
            </div>

            <div class="create_forms_input">
                @Html.TextBoxFor(m => m.DeviceModel, new { placeholder = "Device Model" })
                @Html.ValidationMessageFor(m => m.DeviceModel)
            </div>
        </div>

        <div class="input_block_two">
            <div class="create_forms_input">
                @Html.TextBoxFor(m => m.City, new { placeholder = "City" })
                @Html.ValidationMessageFor(m => m.City)
            </div>

            <div class="create_forms_input">
      
                @Html.TextBoxFor(m => m.Street, new { placeholder = "Street" })
                @Html.ValidationMessageFor(m => m.Street)
            </div>

            <div class="create_forms_input">

                @Html.TextBoxFor(m => m.Building, new { placeholder = "Building" })
                @Html.ValidationMessageFor(m => m.Building)
            </div>

            <div class="create_forms_input">

                @Html.TextBoxFor(m => m.Description, new { placeholder = "Description" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <button class="create_btn btn btn-primary mt-4" type="submit">Create Switch</button>

        </div>
    </div>
}