@model List<StackTak.Models.SearchViewModel>


<h2>Address Search</h2>
<br />
<br />

<div>
    @using (Html.BeginForm("Index", "Search", FormMethod.Post))
    {
        <div class="form-group">

            @Html.TextBox("city", null, new { @class = "form-control", @placeHolder = "City" })
        </div>
        <div class="form-group">

            @Html.TextBox("street", null, new { @class = "form-control", @placeHolder = "Street" })
        </div>
        <div class="form-group">

            @Html.TextBox("building", null, new { @class = "form-control", @placeHolder = "Building" })
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    }
</div>



@if (Model != null)
{
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Subnet Mask</th>
                <th>Gateway</th>
                <th>Description</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>City</th>
                <th>Street</th>
                <th>Building</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model)
            {
                <tr>
                    <td>@result.IPAddress</td>
                    <td>@result.SubnetMask</td>
                    <td>@result.Gateway</td>
                    <td>@result.Description</td>
                    <td>@result.Manufacturer</td>
                    <td>@result.DeviceModel</td>
                    <td>@result.City</td>
                    <td>@result.Street</td>
                    <td>@result.Building</td>

                </tr>
            }

        </tbody>
    </table>

}

