@model StackTak.Models.User_List




<h2>Personal Account</h2>
<br/><br/>
<div>
    <p><strong>Name:</strong> @Model.FirstName</p>
    <p><strong>Last Name:</strong> @Model.LastName</p>
    <p><strong>Login:</strong> @Model.Login</p>
    <p><strong>Email:</strong> @Model.Email</p>
</div>
<br />
<p>@Html.ActionLink("Edit", "Edit")</p>



