@model StackTak.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Index</h2>
<div>
    <div class="search_form">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <input type="text" name="ipAddress" placeholder="Enter IP address...">
            <button class="btn btn-primary"  type="submit">Search</button>
        }

    </div>
    <div class="main_page_output">
        @if (Model != null)
        {
            <h3>Results:</h3>
            <table class="table table-striped">
                <tr>
                    <th>IP Address</th>
                    <th>Subnet Mask</th>
                    @if (@Model.Gateway != "0")
                    {
                        <th>IP Gateway</th>
                    }
                    <th>Switch Type</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>Building</th>
                    <th></th>
                    <th></th>


                </tr>
                <tr>
                    @if (@Model.SubnetMask != 0)
                    {
                        <td>@Model.IPAddress</td>
                    }
                    else
                    {
                        <td>Not found</td>
                    }

                    <td>@Model.SubnetMask</td>
                    @if (@Model.Gateway != "0")
                    {
                        <td>@Model.Gateway</td>
                    }
                    <td>@Model.SwitchType</td>
                    <td>@Model.City</td>
                    <td>@Model.Street</td>
                    <td>@Model.Building</td>
                    <td>@Html.ActionLink("Detail", "Details", "Detail", new { ipAddr = @Model.IPAddress },
            new { @class = "viewDialog", data_dialog_title = "View" }) </td>


                </tr>
            </table>
        }
       
    </div>

</div>

